# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Mac
.DS_Store



# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio
.vs/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db
